@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
  background: #272727;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-family: 'Raleway', sans-serif;
}

button:hover {
  background: linear-gradient(-45deg,#202020 ,#20202099);
  box-shadow: 0 0 20px #00000099;
  border: 1px solid #99000077;
}
button {
  box-shadow: 0 0 10px #00000099;
  cursor: pointer;
  font-size: 3em;
  padding: 20px 40px;
  border: 1px solid transparent;
  background: linear-gradient(45deg,#202020 ,#20202099);
  color: white;
}
.overlay {
}
.modal-body {
  margin-top: 70px;
  background: linear-gradient(180deg,#272727 ,#272727dd);
  padding: 10px  40px;
  box-shadow: 10px 10px 40px #00000055;
  width: 100vw;
}
@media only screen and (min-width: 1280px)
{
  dfn {
    margin-left: 25%;
    max-width: 50%;
  }
}
dfn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-style: unset;
  font-size: 2em;
  color: white;
}
a {
  color: white;
}
h3 {
    font-family: 'Bitter', serif;
}
h3:first-child {
  /*font-family: 'Barlow Condensed', sans-serif;*/
}